@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}

main,
header,
section,
footer{
    padding: 0 200px;
}

header,
main{
    background-color: #1F2937;
    color: #F9FAF8;
  
}
header{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding-top: 40px;
}

/* Header */
.logo{
    font-size: 24px;
}
.links>ul{
    display: flex;
    gap:20px
}
.link,
.link>a{
    color:#E5E7EB;
    list-style-type: none;
    font-weight: 300;
    text-decoration: none;


}
/* Main */

main{
    padding-top: 150px;
    display: flex;
    padding-bottom: 100px;
    justify-content: space-around;
    gap: 50px;

   
}
.left{

    flex:1;
}
.right{
    flex: 1;


}
.right>img{
    max-width: 40vw;
    border: 1px solid darkgray;
}

.signupmain{
    background-color: #3882f6;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
.left>h1{
    font-size: 48px;
    font-weight: 900;
}
.left>h3{
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 200;
}
/* picture section */
section:nth-of-type(2){
    background-color: #E5E7EB;
   
}
.second{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding:70px 0;
    display: flex;
    align-items: center;
    justify-content: center;
   

}
.second{
    text-align: center;
    
}
.wrapper{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-bottom: 70px;

}

.thumbnail-wrapper{
    max-width: 200px;
}
.thumbnail-wrapper>img{

    border: 5px solid #3882f6;
    border-radius: 20px;
    max-width: 200px;
}
.thumbnail-wrapper>h5{
    font-weight: 300;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
/* third section */
.quote{
    background-color: #E5E7EB;
    padding: 150px 350px;    
}
blockquote{
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}
cite{
    text-align: right;
    display: block;
    font-size: 24px;
    font-weight: 500;
    padding-top: 40px;


}

footer{
    margin: 100px;
    padding: 70px 100px;
    color: white;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
.top{
    font-weight: 700;
    letter-spacing:.75px;
}
.bottom{
    font-weight: 300;
}
.signup{
    border: 3px solid white;
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    
}